

/* Aula 01 - CSS e Sintaxe
h1 {    color: blue;    font-size: 50px;    font-family: tahoma;
} 
*/

/*** Aula 02 e 03 - Seletores

* {    margin:0;    padding: 0;}
p {    color: green;    font-size: 12px;} 
input[type="text"]{width:200px; background-color:#ccc; height:35px; border:none;}
input[type="email"] {width:200px; background-color:#ccc; height:35px; border:none;}
input[type="submit"] {width:200px; background-color:green; height:35px; border:none;cursor:pointer;color:#fff}
*/

/* Aula 04 - Agrupamento de Seletores
h1, h2, p {color:red; text-align:center;}
*/

/* Aula 05 - Seletor ID e Classes  
.aula5{    color: red; text-align:center;border: 1px solid;}
.fundo{background-color: blue; color: white; padding: 40px; }
#aula5id{ background-color: yellow; padding: 20px; color: black}
*/

/* Aula 06 - Dimensões */
#aula6 {min-width:500px; max-height: 200px; font-size: 35px; background-color:pink; color:black; padding:20px;}
#aula6-2 {width:500px; font-size: 20px; background-color:black; color:pink; padding:20px;}

/* Aula 07 - Margin e Padding */
#aula7 {width:500px; margin-left: 30px; font-size: 20px; background-color:black; color:pink; padding:20px;}
#aula7-2 {width:500px; border: 3px solid; padding: 20px 0px 20px 200px; font-size: 20px; background-color:pink; color:black;}

/* Aula 08 e 09 - Texto */
p {font-size: 30px; color:red; text-align: justify; text-indent: 20px; line-height:25px;}
#maiusculo{font-size: 30px;text-transform: uppercase;}
#aula8{padding: 40px; border: 3px solid;}
#text8{text-shadow: 3px 3px 4px blue;}
h1 {text-align:center;text-decoration:underline; }
h2 {text-align:left; text-decoration:overline;}
h3 {text-align:right; text-decoration:none;}