*{
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial;
    margin-left: 5px;
}
.header{
    margin: 0 auto -100px;
    height: 270px;
    background-image: url(../public/header.png);
    background-size:  50%;
    background-repeat: no-repeat;
}

div h1{
    font-size: 28px;
}