/* Aula 10 */
#aula10{ color: white; font-weight: bold; background-color:blue; width:300px; 
    padding:20px; box-shadow:10px 10px 5px green;}

/* Aula 11 */
#aula11 p{opacity: 0.5;}
.zero{opacity:0.1;}

/* Aula 12 */
#poligono{background-color: blue; height: 200px; width: 250px;}
#poligono2{border-radius: 20px; background-color: blue; height: 200px; width: 250px; margin: 20px 0px;}
#poligono3{border-radius: 50px; background-color: blue; height: 200px; width: 250px;}
#poligono4{border-radius: 150px; background-color: blue; height: 200px; width: 250px; margin: 20px 0px 0px;}

/* Aula 13 */
p {font-family: Arial, Verdana, sans-serif; font-size:1em;}
#fonte2{font-family: Roboto, sans-serif; font-size:1em;}
#fonte3{font-family: 'Courier New', Courier, monospace; font-size: 1em;}

/* Aula 14 */
@font-face {
    font-family: star-jedi;
    src: url(starjedi-webfont.woff);
}
#fontface{font-size: 40px; margin-left: 20px; font-family:star-jedi;}

/* Aula 15 */
#googlefont{font-size:40px; margin-left: 20px; font-family: 'Rubik Wet Paint', cursive;}

/* Aula 16 e 17 */
#gradient{position: absolute; height:200px; width:250px; background: linear-gradient(45deg, yellow, green, blue);}
#gradient2{margin-left: 350px; height:200px; width:250px; background: radial-gradient(yellow, green, blue);}

/* Aula 18 */
#base{background-color: yellow; width:600px;height:600px;}
#esq{background-color: blueviolet; width:300px;height:300px;}
#dir{background-color: pink; width:300px;height:300px; float: right;}

