*{
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
}

body{
    text-align: center;
}


.form-container {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    width: 900px;
    height: 500px;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
}
input{
    width: 200px;
    line-height: 30px;
}
.form-row{
    width: 100%;
}
.form-group{
    width: 200px;
    display: inline-block;
    width: 35%;
    padding: 10px;
}


.success_page {
    position: absolute;
    height: 50px;
    width: 200px;
    margin-top: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(19, 196, 19);
}

.error_page{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    width: 200px;
    background-color: rgb(244, 141, 141);
    padding: 5px;
    margin-top: 2px;
}

button{
    margin-top: 30px;
    height: 40px;
    width: 200px;
    background-color: black;
    color: white;

}

button:hover {
    background-color: white;
    color: black;
}