/* Aula 19 - Positioning*/

#aula19 {
	width: 600px;
	height: 2000px;
	background: linear-gradient(yellow, rgb(126, 169, 232), rgb(214, 110, 197));
}

#texto {
	width: 500px;
	height: 80px;
	padding: 5px;
	background-color: rgb(143, 205, 143);
	position: fixed;
	right: 150px;
	top: 100px;
}


/* Aula 20 - Border e Outline */

#aula20 {
	font-size: 40px;
	width: 500px;
	border: 8px solid rgb(161, 161, 230);
	outline: 5px dotted red;
}


/* Aula 21 - Transition */

#aula21 {
	width: 200px;
	height: 200px;
	background-color: rgb(106, 218, 140);
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: linear;
	transition-delay: 2s;
}

#aula21:hover {
	width: 400px;
	height: 400px;
	background-color: blue;
}


/* Aula 22 - Background image*/

#aula22 {
	background-image: url('ghibli.jpg');
	background-repeat: no-repeat;
	font-size: 30px;
	color: white;
	font-weight: bold
}


/* Aula 23 - CLear Fix */

.container {
	background-color: red;
	width: 500px;
	margin: 0 auto;
}

.box1 {
	background-color: green;
	width: 150px;
	height: 150px;
	float: left;
}

.box2 {
	background-color: blue;
	width: 150px;
	height: 150px;
	float: right;
}

.container::before,
.container::after {
	content: 'Conteúdo aleatório para testar';
	display: table;
}

.container::after {
	clear: both;
}

/* Aula 25 - Current Color */

#aula25 {height: 80px; background-color: blue}
button {background-color: white; color: red; width: 100px; height: 50px; border:2px solid currentColor;}

/* Aula 26 - Variáveis CSS */
:root {
    --bg-color: blue;
    --bg-color2: red;
    --bg-color3: green;

    --cor-do-texto: #fff;
    --espacamento: 20px;
}
#div1 {background-color: var(--bg-color);
       color: var(--cor-do-texto);
       padding: var(--espacamento);}

#div2 {background-color: var(--bg-color2);
color: var(--cor-do-texto);
padding: var(--espacamento);}

#div3{background-color: var(--bg-color3);
    color: var(--cor-do-texto);
    padding: var(--espacamento);}

/* Aula 27 */
.noticia:target {background-color: rgb(85, 85, 172); padding: 10px;}    

